#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.body {
  /* styles for the container div */
  width: fit-content;
  padding: 20px;
  /*border: 4px solid #ff0000;*/
  margin: 0 auto;
  display: flex;
  gap: 10px;
  align-items: center;     /* vertically centers items in the row */
}

@media (max-width: 768px) {
  .body {
    flex-direction: column;
    align-items: center; 
    padding: 0px;
  }
  .upload-container {
    flex-direction: column;
    align-items: center; 
  }
}